.qol-setting-sep {
    border-color: #3636367e;
    margin: 1rem 0;
}

.qol-setting-desc {
    font-style: italic;
    padding-bottom: 10px;
}

.qol-setting-title {
    font-size: 2em;
    font-weight: bold;
}

.qol-setting-subtext {
    color: #ff9393;
    font-style: italic;
    margin-top: 10px;
    margin-block-start: 15px;
    margin-block-end: 0px;
    font-size: 0.8em;
}

/*                */
/*QOL: File Editor*/
/*                */

.qol-FM-clipY {
    overflow-y: clip;
}

.qol-FM-HideDecnd {
    visibility: hidden;
}

/*                */
/*                */
/* Class Styling  */
/* for non-plugin */
/* elements       */


.qol-scroll-disable {
    overflow: hidden;
}

.qol-hide-file-folder {
    /* visibility: hidden; */
    color: #483c3c;
}
.qol-hide-file-folder:hover {
    color: #483c3c;
}

.qol-offset-up {
    position: relative;
    /* top:-7.5vh; */
    top:calc(-2*var(--input-height));
}

.qol-input {
    border-bottom: 1px solid var(--background-secondary);
    border-top: 1px solid var(--background-secondary);
    width: 100%;
    /* height:10%; */
    background-color: transparent;
}